
#dj-classifieds div.pagination {
    padding: 0;
    margin: 0;
}

#dj-classifieds .dj-items + div.pagination {
    padding: 10px 0 0;
}

#dj-classifieds .dj-useradverts + div.pagination {
    padding: 20px 0 0;
}

#dj-classifieds input[type="radio"], 
#dj-classifieds input[type="checkbox"] {
    margin: 0 4px;
    vertical-align: middle;
}

#dj-classifieds .main_cat_title + .dj-category .cat_row_title {
    display: none;
}

#dj-classifieds label {
    display: block;
}

/********** category **********/

#dj-classifieds .dj-category {
	margin-bottom: 20px;
}

#dj-classifieds .dj-category .cat_row_title {
    color: #000000;
    padding: 10px;
    text-align: center; 
    font-weight: normal;
    padding: 7px 20px;
    line-height: 1.5em;
    border-bottom: 1px solid #D5D5D5;
    text-transform: uppercase;   
}

#dj-classifieds a.rss_icon {
	margin-left: 10px;
}

#dj-classifieds a.rss_icon img {
    margin-bottom: 5px;
    vertical-align: middle;	
}

#dj-classifieds .dj-category .cat_row {
	margin-left: -20px;
	padding: 20px 20px 0;
}

#dj-classifieds .dj-category .cat_row + .cat_row {
    padding-top: 0;
}

#dj-classifieds .dj-category .cat_col {
	width: 33.3%; 
	float: left;
}
#dj-classifieds .dj-category.cat_cols1 .cat_col{
	width: 100%;
}
#dj-classifieds .dj-category.cat_cols2 .cat_col{
	width: 50%;
}
#dj-classifieds .dj-category.cat_cols4 .cat_col{
	width: 25%;
}
#dj-classifieds .dj-category.cat_cols5 .cat_col{
	width: 20%;
}
#dj-classifieds .dj-category.cat_cols6 .cat_col{
	width: 16.6%;
}
#dj-classifieds .dj-category.cat_cols7 .cat_col{
	width: 14.2%;
}
#dj-classifieds .dj-category.cat_cols8 .cat_col{
	width: 12.5%;
}
#dj-classifieds .dj-category.cat_cols8 .cat_col{
	width: 11.1%;
}
#dj-classifieds .dj-category.cat_cols8 .cat_col{
	width: 50%;
}

#dj-classifieds .dj-category .cat_col .cat_col_in {
	padding: 0 0 20px 20px;	
}

#dj-classifieds .dj-category .title {
    text-align: center;
}

#dj-classifieds .dj-category .title img {
    background: #fff;
    margin: 0 0 10px;
    border: 1px solid #dfdfdf;
    padding: 4px;
    vertical-align: middle;
}

#dj-classifieds .dj-category .title h2 {
	margin-bottom: 10px;
	font-weight: normal;
    text-align: center;
    font-size: 1.3em;
    text-transform: uppercase;
}

#dj-classifieds h1.main_cat_title .main_cat_title_path,
#dj-classifieds h1.main_cat_title .main_cat_title_path a {
	font-size: 13px;
	color: #6E6F71;
}
#dj-classifieds .main_cat_desc{
	margin: 10px 0;
	text-align: center;
}

/********** table **********/

#dj-classifieds table.dj-items {
    border: none;
    border-collapse: separate;
    border-spacing: 0 10px;
    margin: 0;
}

#dj-classifieds table.dj-items td.name h3,
#dj-classifieds table.dj-items td.name a,
#dj-classifieds table.dj-items tr.special td a, 
#dj-classifieds table.dj-items tr.special td h3 {
    color: #000000;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.2em;
}

#dj-classifieds .dj-useradverts .main_title{
	margin-bottom: 10px;
}

#dj-classifieds .dj-useradverts .main_title .main_title_box_in,
#dj-classifieds table.dj-items .main_title th {
    color: #fff;
    text-align: center!important;
    white-space: nowrap;
	padding: 10px;
	font-weight: bold;
}

#dj-classifieds table.dj-items .main_title th a.normal {
    margin: 0!important;
}

#dj-classifieds .dj-useradverts .main_title .main_title_box{
	width:20%;
	float:left;
	overflow: hidden;
}

#dj-classifieds .dj-useradverts .main_title .main_title_box.first{
	width:40%;
}

#dj-classifieds .dj-useradverts .main_title .main_title_box.active  .main_title_box_in,
#dj-classifieds table.dj-items .main_title th.active {
	background: #ffffff;
}

#dj-classifieds .dj-useradverts .main_title a, 
#dj-classifieds table.dj-items .main_title a {
    color: #fff;
}

#dj-classifieds .dj-useradverts .main_title a img,
#dj-classifieds table.dj-items th a img {
    margin-left: 5px;
}

#dj-classifieds table.dj-items td {
    border-bottom: 3px solid #E8E8E8;
    border-right: 1px dashed #E8E8E8;
    border-top: 1px solid #E8E8E8;
	padding: 10px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
	text-overflow: ellipsis;
}

#dj-classifieds table.dj-items td h3 {
	margin-bottom: 10px;
}

#dj-classifieds .dj-items img.fav_ico,
#dj-classifieds .dj-items img.prom_ico {
    display: block;
    margin: 0 auto 5px;
	
}
#dj-classifieds .dj-items span.new_icon,
#dj-classifieds .dj-items span.type_button {
    margin: 0 0 5px!important;
}

/* promotions */

#dj-classifieds .promotions_info{
	font-weight: normal;
	color:#818181;
	font-size: 14px;
}

#dj-classifieds table.dj-items tr.promotion.p_bg td {
    background: #6D9AD2;
	color: #EFEFEF;
	border-left: none;
    border-right: 1px dashed #89ADDA;        
    border-top: 3px solid #89ADDA;  border-bottom: 3px solid #89ADDA;
}

#dj-classifieds .djcf_items_blog .p_bg .item_box_right span.desc_info {
    border-top: 1px solid #8AB3E5;
}

#dj-classifieds table.dj-items tr.promotion.p_bg td:last-child {
	border-right: none;
}

#dj-classifieds table.dj-items tr.promotion.p_bg td a,
#dj-classifieds table.dj-items tr.promotion.p_bg td h3 {
    color: #FFFFFF;
}

#dj-classifieds table.dj-items tr.promotion.p_border td {
    border-bottom: 3px solid #32719a;
    border-top: 3px solid #32719a;
	padding: 10px;
}

#dj-classifieds table.dj-items tr.promotion.p_border td.first {
	border-left: 3px solid #32719a;
}

#dj-classifieds table.dj-items tr.promotion.p_border td:last-child {
	border-right: 3px solid #32719a;
}

#dj-classifieds table.dj-items tr.promotion.p_border .icon img {
    background: #32719a;
    border: none;
    padding: 3px;
}

#dj-classifieds table.dj-items tr.promotion.p_bold td {
	font-weight: bold;
}

#dj-classifieds table.dj-items tr.promotion.p_bold td div.p_special_img_wrapper {
	position: relative;
}

#dj-classifieds table.dj-items tr.promotion.p_bold td div.p_special_img_wrapper span.p_special_img {
	background: url("../images/p_special_img.png") no-repeat;
	width: 44px;
	height: 44px;
	position: absolute;
	top: -4px;
	right: -4px;
}

/* end promotions */

#dj-classifieds table.dj-items .icon img {
    background: #FFFFFF;
    border: 1px solid #dfdfdf;
    padding: 4px;
    max-width: none;
}

#dj-classifieds table.dj-items td.name a {
    color: #000;
}

#dj-classifieds table.dj-items td.price {
	font-weight: bold;
}

/* distance */

#dj-classifieds table.dj-items .col_distance{
    vertical-align: middle;
}

#dj-classifieds table.dj-items .col_distance .show_distance,
#dj-classifieds table.dj-items .col_distance .show_on_map{
    overflow: hidden;
    position: relative;
    min-width: 54px; 
    height:37px;
    display: block;
    margin-top:5px;
    text-align: center;
}

#dj-classifieds table.dj-items .col_distance .show_distance{
    margin-top:0px;
    height: auto;
}

#dj-classifieds table.dj-items .col_distance .show_on_map span{
    background: url('../images/show_on_map.png') top center no-repeat;
    display: inline-block;
    min-width: 54px; 
    height:37px;    
}

#dj-classifieds table.dj-items .col_distance .show_distance span{
    background: url('../images/show_distance.png') center center no-repeat;
    display: block;
    min-width: 52px; 
    min-height:40px;
    cursor:pointer; 
    vertical-align: middle;
    position: relative;
}

#dj-classifieds table.dj-items .col_distance .show_distance span:before,
#dj-classifieds table.dj-items .col_distance .show_on_map span:before {
    content: attr(data-hover);
    position: absolute;
    top: 100%;
    text-align: center;
    width: 100%;
    height: 100%;    
    left:0px;
    line-height: 1.2em;
}

#dj-classifieds table.dj-items .col_distance .show_distance span,
#dj-classifieds table.dj-items .col_distance .show_on_map span{
    position: relative;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

/********** blog **********/

#dj-classifieds .blog_sorting_box {
    margin: 0 0 20px;
}

#dj-classifieds .blog_sorting_box #blogorder_select {
    min-width: 200px;
}

#dj-classifieds .djcf_items_blog {
	margin-left: -20px;
	*zoom: 1; /*ie7*/
}

#dj-classifieds span.new_icon {
	display: inline-block;
    background: #ee1c25;
    color: #ffffff;
    font-size: 11px;
    line-height: 19px;
    vertical-align: middle;
    padding: 0 10px;
    margin: 0 2px;
	
}

#dj-classifieds table.dj-items img.fav_ico {
	margin-bottom: 5px;
}

#dj-classifieds .djcf_items_blog .item_box {
    float: left;
}

#dj-classifieds .djcf_items_blog .item_box_in {
	padding: 0 0 20px 20px;
}

#dj-classifieds .djcf_items_blog .item_box_in2 {
    background: #FFFFFF;
    border: 1px solid #dddddd;
    padding: 10px;
    border: 1px solid #ccc;  background: #FFF;  box-shadow: 5px 5px 0 #dedede;  font-size: 11px;  border-radius: 3px;  -moz-border-radius: 3px;  -webkit-border-radius: 3px;
}

#dj-classifieds .djcf_items_blog .special .item_box_in2 {
    background: #f3f3f3;
    border: 1px solid #dddddd;
    color: #000000;
}

#dj-classifieds .djcf_items_blog .title {
    margin-bottom: 5px;
    padding: 0 0 5px;
    border-bottom: 1px solid #dddddd;
}

#dj-classifieds .djcf_items_blog .title h2 {
	display: inline;
	*padding-right: 5px;
	text-transform: uppercase;
	margin-right: 5px;
	vertical-align: middle;
}

#dj-classifieds .djcf_items_blog .item_img {
    text-align: center;
}

#dj-classifieds .djcf_items_blog .item_img img {
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    padding: 3px;
	
    margin-bottom: 4px;
}

#dj-classifieds .djcf_items_blog .item_box_right {
    *zoom: 1;/*ie7*/    
}

#dj-classifieds .djcf_items_blog .item_box_right .item_img {
    float: left;
}

#dj-classifieds .djcf_items_blog .item_box_right .item_img img {
    margin-right: 10px;
}

#dj-classifieds .djcf_items_blog .item_desc {
    display: table-cell;
	*float: left;/*ie7*/
}

#dj-classifieds .djcf_items_blog .item_desc .label_title,
#dj-classifieds .djcf_items_blog .special .item_desc .label_title {
    /* display: block; */
    /* background: url("../images/info_small.png") no-repeat; */
    padding: 0 0 0 30px;
    font-weight: normal;
    line-height: 20px;
    display: none;
}

#dj-classifieds .djcf_items_blog .item_box_right span.desc_info {
    border-top: 1px solid #EAEAEA;
    display: block;
    margin: 7px 0 10px;
    padding: 10px 0 0;
}

#dj-classifieds .djcf_items_blog .item_box_bottom span.desc_info {
	padding: 2px 0 0;
	display: block;
	font-family: Tahoma;  
	font-weight: 400;  text-align: center;
	font-size: 11px;
}

#dj-classifieds .blog_det .item_box_bottom .item_desc {
	display: block;
	*float: none;/*ie7*/
}

#dj-classifieds .blog_det .item_box_bottom .item_desc,
#dj-classifieds .blog_det .region,
#dj-classifieds .blog_det .category, 
#dj-classifieds .blog_det .price {
    border-bottom: 1px solid #DFDFDF;
    margin: 0 0 10px;
    padding: 0 0 10px;
}

#dj-classifieds .blog_det .price {
	font-weight: bold;
}

#dj-classifieds .blog_det .region .label_title,
#dj-classifieds .blog_det .category .label_title, 
#dj-classifieds .blog_det .price .label_title {
    height: 14px;
    width: 15px;
	float: left;
	margin-right: 10px;
}

#dj-classifieds .djcf_items_blog .blog_det .region .label_title,
#dj-classifieds .djcf_items_blog .blog_det .category .label_title,  
#dj-classifieds .djcf_items_blog .blog_det .price .label_title {
    width: 20px;
    height: 20px;
}

#dj-classifieds .djcf_items_blog .region .label_title,
#dj-classifieds .djcf_items_blog .special .region .label_title {
    background: url("../images/direction_small.png") no-repeat;
}

#dj-classifieds .djcf_items_blog .category .label_title,
#dj-classifieds .djcf_items_blog .special .category .label_title {
    background: url("../images/list_small.png") no-repeat;
}

#dj-classifieds .djcf_items_blog .price .label_title,
#dj-classifieds .djcf_items_blog .special .price .label_title {
    background: url("../images/badge_small.png") no-repeat;
}

#dj-classifieds .djcf_items_blog .date_start .label_title,
#dj-classifieds .djcf_items_blog .special .date_start .label_title {
    background: url("../images/calendar_small.png") no-repeat;
}

/* promotions */

#dj-classifieds .djcf_items_blog .promotion.p_bg .item_box_in2 {
    background: #FAFACC;
    border-color: #5E85B5;
  
}
#dj-classifieds .djcf_items_blog .promotion.p_bg .item_box_in2:hover {
    background: #CCFCC4;
    border-color: #5E85B5;
   
}

#dj-classifieds .djcf_items_blog .promotion.p_bg .title {
    border-bottom: 1px solid #8AB3E5;
}

#dj-classifieds .djcf_items_blog .promotion.p_bg a {
	/* color: #ffffff; */
}

#dj-classifieds .djcf_items_blog .promotion.p_bg .item_desc .label_title {
    background: url("../images/desc_white.png") no-repeat left center;
}

#dj-classifieds .promotion.p_bg .blog_det .item_box_bottom .item_desc, 
#dj-classifieds .promotion.p_bg .blog_det .price, 
#dj-classifieds .promotion.p_bg .blog_det .region,
#dj-classifieds .promotion.p_bg .blog_det .category {
    border-bottom: 1px solid #8AB3E5;
	
}
#dj-classifieds .djcf_items_blog  .item_box_in2 {
	position: relative;
	background: #F9F9F5;  border-color: #D0D3D7;  color: #000;
}
#dj-classifieds .djcf_items_blog .item_box_in2:hover {
	position: relative;
	background: rgba(245, 253, 249, 0.7);  border-color: #D0D3D7;  color: #000;}
#dj-classifieds .djcf_items_blog .promotion.p_bg .region .label_title {
    background: url("../images/localization_white.png") no-repeat center center;
}

#dj-classifieds .djcf_items_blog .promotion.p_bg .category .label_title {
    background: url("../images/category_white.png") no-repeat center center;
}

#dj-classifieds .djcf_items_blog .promotion.p_bg .price .label_title {
    background: url("../images/price_white.png") no-repeat center center;
}

#dj-classifieds .djcf_items_blog .promotion.p_bold {
	font-weight: bold;
}

#dj-classifieds .djcf_items_blog .promotion.p_border .item_box_in2 {
	border-color: #32719a;
    
	border-width: 2px;
    
	padding: 9px 10px;
}

#dj-classifieds .djcf_items_blog .promotion.p_special .item_box_in2 {
	position: relative;
	border-color: #D0D3D7;  color: #000;
}
#dj-classifieds .djcf_items_blog .promotion.p_special .item_box_in2:hover {
	position: relative;
	border-color: #D0D3D7;  color: #000;
}
#dj-classifieds .djcf_items_blog .promotion.p_special span.p_special_img {
	background: url("../images/p_special_img.png") no-repeat;
	width: 60px;
	height: 60px;
	position: absolute;
	top: -4px;
	right: -4px;
}

#dj-classifieds .djcf_items_blog .promotion.p_special.p_border span.p_special_img {
	top: -4px;
	right: -6px;
}

/* end promotions */

/********** category tree **********/

#dj-classifieds .dj-cattree-box .title_top {
    font-weight: normal;
    padding: 7px 20px;
    line-height: 1.5em;
    border-bottom: 1px solid #D5D5D5;
    text-transform: uppercase;
}

#dj-classifieds .dj-cattree-box .title_top {
	text-align: center;
}

#dj-classifieds .dj-cattree-box.cols3 .dj-cattree {
	width: 33.3%;
}

#dj-classifieds .dj-cattree-box.cols2 .dj-cattree {
	width: 49.9%;
}

#dj-classifieds .dj-cattree-box.cols4 .dj-cattree {
	width: 24.9%;
}

#dj-classifieds .dj-cattree-box.cols5 .dj-cattree {
	width: 19.9%;
}

#dj-classifieds .dj-cattree-box .dj-cattree-wrap {
	padding: 10px 20px;
}

#dj-classifieds .dj-cattree-box ul.dj-cattree {
	float: left;
	margin: 10px 0;
}

#dj-classifieds .dj-cattree-box ul.dj-cattree li {
	font-weight: bold;
	padding-right: 20px;
}

#dj-classifieds .dj-cattree-box ul.dj-cattree li li {
	font-weight: normal;
}

#dj-classifieds .dj-cattree-box ul.dj-cattree li a img.cat_tree_icon {
    height: 25px;
    margin: 3px 5px 3px 0;
    vertical-align: middle;
}

/********** user items **********/

#dj-classifieds .title_top h1 {
    font-weight: normal;
    padding: 7px 20px;
    line-height: 1.5em;
    border-bottom: 1px solid #D5D5D5;
    text-transform: uppercase;
    text-align: center;    
}

#dj-classifieds .dj-useradverts{
	width:100%;
}

#dj-classifieds .dj-useradverts .row_ua{
	border:1px solid #E8E8E8;
	margin-bottom:10px;
}

#dj-classifieds .dj-useradverts .row_ua .row_ua1{
	border-bottom:1px solid #E8E8E8;
}

#dj-classifieds .dj-useradverts .row_ua .row_ua1 .col_ua_in{
	padding:10px;
}

#dj-classifieds .dj-useradverts .row_ua1,
#dj-classifieds .dj-useradverts .row_ua2{
	width:100%;
}

#dj-classifieds .dj-useradverts .row_ua .row_ua1 .col_ua.icon_name{
	width:40%;
	min-width:150px;
}
#dj-classifieds .dj-useradverts .row_ua .row_ua1_in{
	display: table;
	width: 100%;
}

#dj-classifieds .dj-useradverts .row_ua .row_ua1 .col_ua{
	width:20%;
	min-width:90px;
	display: table-cell;
	height: 100%;
	vertical-align: top;
}

#dj-classifieds .dj-useradverts .row_ua .row_ua1 .col_ua.public_status{
	border-left:1px solid #E8E8E8;
	border-right:1px solid #E8E8E8;
	min-width: 150px;
	margin: 0 -1px;
	width: 40%;
}

#dj-classifieds .dj-useradverts .row_ua .row_ua1 .col_ua.advert_active,
#dj-classifieds .dj-useradverts .row_ua .row_ua1 .public_status img{
	vertical-align: middle;
}

#dj-classifieds .dj-useradverts .row_ua .row_ua1 .icon_name .col_ua_in{
	border:none;
}

#dj-classifieds .dj-useradverts .row_ua .row_ua1 .icon_name .icon{
	float:left;
	margin-right:10px;	
}

#dj-classifieds .dj-useradverts .row_ua .row_ua1 .col_ua_row{
	margin-bottom:5px;
}

#dj-classifieds .dj-useradverts .row_ua .row_ua2_in{ 
	padding:10px;
	background: #F7F7F7;
} 

#dj-classifieds .dj-useradverts .row_ua .row_ua1 .icon_name .c_name{
	font-size:0.9em;
	color:#6E6F71;
	display:block;
	margin-top:3px;
}

#dj-classifieds .dj-useradverts .row_ua2 a.edit,
#dj-classifieds table.dj-items a.edit,
#dj-classifieds .dj-useradverts .row_ua2 a.renew,
#dj-classifieds table.dj-items a.renew,
#dj-classifieds .dj-useradverts .row_ua2 a.delete,
#dj-classifieds table.dj-items a.delete,
#dj-classifieds .dj-useradverts .row_ua2 a.pay {
	background: url("../images/cl_edit.png") no-repeat left center;
    display: inline-block;
    margin: 0 20px 0 0;
    padding: 0 0 0 22px;
    float:right;
    text-decoration: none;
    border:none;
    text-transform: none;
    font-weight: normal;
}

#dj-classifieds .dj-useradverts .row_ua2 a.renew,
#dj-classifieds table.dj-items a.renew {
	background: url("../images/cl_renew.png") no-repeat 2px center;    
}

#dj-classifieds .dj-useradverts .row_ua2 a.delete,
#dj-classifieds table.dj-items a.delete {
	background: url("../images/cl_delete.png") no-repeat 2px center;
}

#dj-classifieds .dj-useradverts .row_ua2 a.pay{
	background: url("../images/cl_payments.png") no-repeat 2px center;
}

#dj-classifieds .dj-useradverts .icon_name img {
    border: 1px solid #dfdfdf;
    padding: 4px;
}

/********** add item **********/

#dj-classifieds .dj-additem {
	border: none;
}

#dj-classifieds .dj-additem form#djForm {
	padding:0;
	margin: 0;
}

#dj-classifieds .dj-additem .mce-container,
#dj-classifieds table.mceLayout {
    max-width: 400px;
}

#dj-classifieds .dj-additem .title_top {
    font-weight: normal;
    padding: 7px 20px;
    line-height: 1.5em;
    border-bottom: 1px solid #D5D5D5;
    text-transform: uppercase;
    
}

#dj-classifieds .dj-additem .title_top {
	text-align: center;
}

#dj-classifieds .dj-additem .additem_djform .additem_djform_in {
	padding: 20px 20px 0;
}

#dj-classifieds .dj-additem .additem_djform {
	margin-bottom: 30px;
}

#dj-classifieds .dj-additem .prom_rows .djform_prom_v,
#dj-classifieds .dj-additem .prom_rows .djform_prom_img,
#dj-classifieds .dj-additem .prom_rows .djform_prom_desc {
	float: left;
}

#dj-classifieds .dj-additem .prom_rows .djform_prom_v {
    width: 28%;
    padding-top: 20px;
}

#dj-classifieds .dj-additem .prom_rows .djform_prom_img {
	width: 25%;
}

#dj-classifieds .dj-additem .prom_rows .djform_prom_desc  {
	width: 47%;
}

#dj-classifieds .dj-additem .prom_rows .djform_prom_v_in,
#dj-classifieds .dj-additem .prom_rows .djform_prom_v_img,
#dj-classifieds .dj-additem .prom_rows .djform_prom_v_desc {
	padding-left: 20px;
}
#dj-classifieds .dj-additem .prom_rows .djform_prom_v_in label{
	display:inline-block;
	margin: 0 5px 0 2px;
}
#dj-classifieds .dj-additem .prom_rows .djform_prom_v_in input{
	margin-top:0px;

}
#dj-classifieds .dj-additem .djform_row {
    border-bottom: 1px dashed #ddd;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#dj-classifieds .dj-additem .djform_row.extra_fields {
	margin: 0;
	padding: 0;
	border: none;
}

#dj-classifieds .dj-additem .djform_row .label {
    display: inline-block;
    vertical-align: middle;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: bold;
    padding: 5px 30px 5px 0;
    text-align: right;
    width: 25%;
}

#dj-classifieds .dj-additem .djform_row .label span {
    color: #818181;
    font-size: 0.9em;
    font-weight: normal;
    line-height: 1.5em;
    white-space: normal;
}
#dj-classifieds .dj-additem .djform_row .label img{
	vertical-align: top;
	padding-right: 5px;
}
#dj-classifieds .dj-additem .djform_row .djform_field {
	display: inline-block;
	vertical-align: middle;
	width: 74%;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#dj-classifieds .dj-additem .djform_row .djform_field span.radio_label {
    margin: 0 0 0 7px;
}

#dj-classifieds .dj-additem #after_cat_0 select,
#dj-classifieds .dj-additem #after_reg_0 select{
	margin-top: 5px;
}

#dj-classifieds .dj-additem .djform_row .toggle-editor {
    float: none;
}

#dj-classifieds .dj-additem .djform_row #terms_and_conditions0 {
    margin-top: 0;
}

#dj-classifieds .dj-additem .djform_row .label_terms {
    font-weight: bold;
    margin: 0 5px;
    display:inline-block;
}

.defaultSimpleSkin iframe {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 3px 3px 0 0 !important;
	-webkit-border-radius: 3px 3px 0 0 !important;
}

#dj-classifieds .dj-additem #guest_email_info,
#dj-classifieds .dj-additem #verification_alert,
#dj-classifieds .dj-additem #imageslimitalert,
#dj-classifieds .dj-additem #mapalert{
    color:#FF0000;
    margin-bottom: 10px;
    text-align: center;
    font-size: 14px;
    display:none;
}
#dj-classifieds .dj-additem #mapalert{
    margin-top:20px;
}
#dj-classifieds .dj-additem #guest_email_loader{
    display:none; 
    margin:5px 0 0 10px;
    vertical-align: top;
}
#dj-classifieds .classifieds_buttons {
    display: inline-block;
    text-align: center;
    width: 100%;
}
#dj-classifieds .classifieds_buttons .button{
    margin-right: 10px;
}
#dj-classifieds .dj-additem .price_neg_box{
    margin: 5px 0 0 1px;
}
#dj-classifieds .dj-additem .price_neg_box input{
    margin-top:-2px; 
}
#dj-classifieds .dj-additem .price_neg_box span{
    margin-left: 5px;
}
#dj-classifieds .dj-additem select.price_currency {
    width:100px;
}
#dj-classifieds .dj-renewitem .djform_field_category{
    padding-top:5px;
}
#dj-classifieds .dj-additem .img_info{
    margin-top: 10px;
    margin-bottom:15px;
}
#dj-classifieds .dj-additem .img_info .img_info_row{
    margin-bottom:5px;
}
#dj-classifieds .dj-additem .img_info span{
    font-weight:bold;
}
#dj-classifieds .dj-additem .djmap_intro{   
    margin-bottom:20px;
    text-align: center;
}
#dj-classifieds .dj-additem .djmap_intro_desc{
    text-align: center;
}
#dj-classifieds .dj-additem .djmap_intro .button{
    cursor:pointer;
    display: inline-block;
    margin: 10px 5px 0;
    color: red;
    font-size: 110%;
    border: 1px solid #E76b6F;
    padding: 5px 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;  
    -webkit-border-radius: 5px;


}

#dj-classifieds .dj-additem #djmap{
    width: 85%!important;
    height: 300px!important;
    margin: 0 auto;
}
#dj-classifieds .djcf_items_blog .item_img2 {
text-align:center;
letter-spacing:-2px;
}

#dj-classifieds .djcf_items_blog .item_img2 img {
margin-bottom:10px;
/* margin-top: 2px; */
}
#dj-classifieds .dj-additem #djmap img { 
  max-width: none;
}
#dj-classifieds .dj-additem #djmap label { 
  width: auto; display:inline; 
}

#dj-classifieds .dj-additem .images_box .additem_djform_in {
    padding: 0;
}
 
#dj-classifieds #itemImagesWrap {
    margin: 0 0 20px 0;
}
#dj-classifieds #itemImages .itemImage {
    position: relative;
    float: left;
    margin: 0 2px 2px 0;
    overflow: hidden;
    max-width: 100%;
}
#dj-classifieds #itemImages .itemImage img {
    float: none;
    margin: 0;
    padding: 0;
    height: 150px;
    max-width:600px;
}
#dj-classifieds #itemImages .itemImage .imgMask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: url('../images/img_bg.png') repeat;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    cursor: move;
}
#dj-classifieds #itemImages .itemImage:hover .imgMask,
#dj-classifieds #itemImages .itemImage.active .imgMask {
    opacity: 1;
}
#dj-classifieds #itemImages input.itemInput {
    position: absolute;
    bottom: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    padding: 6px 6px 6px 28px;
    margin: 0;
    border: 0;
    width: 100%;
    background-color: transparent;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    border-radius: 0;
    box-shadow: none;
    height: auto;
    border:none !important;
}
#dj-classifieds #itemImages input.itemInput:focus {
    /* old browsers */
    background-color: rgb(50, 50, 50);
    /* modern browsers */
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: none;
}
#dj-classifieds #itemImages .imgMask input.editTitle {
    background: transparent url('../images/img_edit.png') 6px center no-repeat;
}
#dj-classifieds #itemImages .itemImage .delBtn {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 32px;
    height: 32px;
    background: url('../images/img_delete.png') no-repeat;
    cursor: pointer;
    opacity: 0.5;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}
#dj-classifieds #itemImages .itemImage .delBtn:hover {
    opacity: 1;
}

#dj-classifieds .dj-additem .djform_row .label.invalid {
    color: #ff0000;
}

#dj-classifieds .dj-additem .djform_row input.invalid,
#dj-classifieds .dj-additem .djform_row select.invalid,
#dj-classifieds .dj-additem .djform_row textarea.invalid {
    border: 1px solid #ff0000;
}

/* form input width */

#dj-classifieds .dj-additem .djform_row input[type="text"],
#dj-classifieds .dj-additem .djform_row select,
#dj-classifieds .dj-additem .djform_row textarea {
    max-width: 400px;
    width: 100%!important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 2px;
}

#dj-classifieds input[type="file"] {
    height: 38px;
    line-height: 38px;
    padding: 8px;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

/* terms */

#dj-classifieds .djform_row.terms_and_conditions {
    text-align: center;
}

#dj-classifieds .djform_row.terms_and_conditions > label {
    display: none!important;
}

#dj-classifieds .djform_row.terms_and_conditions fieldset {
    margin: 0;
    padding: 0;
}

#dj-classifieds .djform_row.terms_and_conditions .djform_field {
    float: none;
    width: 100%;
}

/********** single ad view **********/

#dj-classifieds .dj-item .title_top {
    font-weight: normal;
    padding: 7px 20px;
    line-height: 1.5em;
    border-bottom: 1px solid #D5D5D5;
    text-transform: uppercase;
	*display: inline-block;/*ie7*/
}

#dj-classifieds .dj-item .title_top h2 {
    color: #000000;
	display: inline;
	vertical-align: middle;
	margin-right: 5px;	
}

#dj-classifieds .dj-item .title_top a:hover {
	text-decoration: none;
}

#dj-classifieds .dj-item .dj-item-in {
	margin: 20px 0;
}

#dj-classifieds .dj-item .title_top .sb_top {
	float: right;
	margin: 6px 0 0;
    min-width: 140px;
}

#dj-classifieds .dj-item .custom_det .row br {
    display: none;
}

#dj-classifieds .dj-item .title_top .title_edit {
    margin: 4px -20px 0 5px;
    float: right;
    vertical-align: middle;
    background-image: none;
    padding: 0 12px;
    font-size: 11px;
    font-weight: bold;
    line-height: 19px;
    height: 19px;
    cursor: pointer;
    text-decoration: none;
	display: inline-block;
} 

#dj-classifieds .dj-item .title_top span.new_icon, 
#dj-classifieds .dj-item .title_top img.fav_ico {
    vertical-align: middle;
    margin: 0 5px 0 0;
}

#dj-classifieds .dj-item .title_top .fav_label,
#dj-classifieds .dj-item .title_top .nfav_label {
    display: inline-block;
    margin-top: 2px;
	font-size: 10px;
	color: #bebebe;
	vertical-align: middle;
	line-height: 21px;
	margin-right: 5px;
	text-transform: uppercase;
}

#dj-classifieds .dj-item .title_top .fav_label {
	color: #fccc00;
}

#dj-classifieds .dj-item .images img {
    background: #FFFFFF;
    border: 1px solid #dfdfdf;
    padding: 4px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#dj-classifieds .dj-item .djc_thumbnails .djc_thumbnail {
    float: left;
    margin: 0 10px 10px 0;
}

#dj-classifieds .dj-item .djc_thumbnails .djc_thumbnail a {
    display: block;
}

#dj-classifieds .dj-item .djc_mainimage {
	*margin-right: 20px;/*ie7*/	
}

#dj-classifieds .dj-item .djc_mainimage a {
	display: block;
}

#dj-classifieds .dj-item .djc_mainimage img {
	margin-bottom: 10px;
}

#dj-classifieds .dj-item .images_wrap {
    float: left;
}

#dj-classifieds .dj-item .general_det {
	float: right;
}

#dj-classifieds .dj-item .general_det.no_images {
	width: 100%;
}

#dj-classifieds .dj-item .general_det, 
#dj-classifieds .dj-item .localization_det, 
#dj-classifieds .dj-item .images, 
#dj-classifieds .dj-item .description,
#dj-classifieds .dj-item .video_box {
    margin-bottom: 20px;
}
#dj-classifieds .dj-item .row_gd,
#dj-classifieds .dj-item .row {
    margin: 0 0 20px;
}

#dj-classifieds .dj-item .general_det .djcf_contact {
    margin: 0;
}

#dj-classifieds .dj-item .general_det .djcf_contact .contact_mainrow,
#dj-classifieds .dj-item .general_det .djcf_contact .contact_row {
    margin: 0 0 20px;
}

#dj-classifieds .dj-item .general_det .djcf_contact .contact_row .row_label {
    background: none;
    border: none;
    padding: 0 10px 0 0;
    margin: 0;
    display: inline-block;
    line-height: normal;
}

#dj-classifieds .dj-item .general_det .djcf_contact .contact_row .row_value {
    display: inline-block;
}

#dj-classifieds .dj-item span.row_label {
    font-weight: bold;
}

#dj-classifieds .dj-item .general_det span.row_label {
    border-bottom: 1px solid #dddddd;
    padding: 0 0 10px 30px;
    color: #000000;
    display: block;
    margin: 0 0 10px;
}

#dj-classifieds .dj-item .general_det .price_wrap {
    background: #f3f3f3;
    border: 1px solid #dddddd;
    color: #333333;
    font-size: 1.4em;
    padding: 15px 20px;
}

#dj-classifieds .dj-item .general_det .price_wrap span.row_label {
    background: url("../images/badge_small.png") no-repeat left center;
    padding: 0 0 0 30px;
	border: none;
	display: inline-block;
	line-height: 20px;
	margin: 0;
}

#dj-classifieds .dj-item .general_det .price_wrap span.row_value {
    display: inline-block;
}

#dj-classifieds .dj-item .general_det .price_wrap .row_negotiable {
	margin: 5px 0 0 0;
	text-align: center;
	display: block;
	color:#ABABAB;
}

#dj-classifieds .dj-item .general_det .djcf_contact span.row_label {
    background: url("../images/mail_small.png") no-repeat;
    line-height: 20px;
}

#dj-classifieds .dj-item .general_det .added {
    width: 44.9%;
	margin-right: 10%;
	float: left;
}

#dj-classifieds .dj-item .general_det .user_name {
	width: 44.9%;
	float: left;
}

#dj-classifieds .dj-item .general_det .added span.row_label {
    background: url("../images/calendar_small.png") no-repeat;
    line-height: 20px;
}

#dj-classifieds .dj-item .general_det .user_name span.row_label {
    background: url("../images/people_small.png") no-repeat;
    line-height: 20px;
}

#dj-classifieds .dj-item .ask_form_abuse_outer{
	margin-bottom: 15px;
}

#dj-classifieds #ask_form {
	width: 100%;
}

#dj-classifieds form#djForm,
#dj-classifieds div#abuse_form form#djabuseForm {
    margin: 10px 0 0;
}

#dj-classifieds #djabuseForm br {
    display: none;
}

#dj-classifieds #djabuseForm #submit_b {
    clear: both;
}

#dj-classifieds #ask_form label
#dj-classifieds #djabuseForm label {
	display: block;
	margin-bottom: 5px;
	color: #000000;
	font-size: 0.9em;
}

#dj-classifieds #ask_form label.invalid{
	color:red;
}

#dj-classifieds #ask_form input {
	width: 400px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-bottom: 10px;
    max-width: 100%;
}

#dj-classifieds #abuse_form textarea, 
#dj-classifieds #ask_form textarea {
    max-width: 100%;
    width: 400px;
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
    margin-bottom: 10px;
    display: block;
}

#dj-classifieds .dj-item .description {
	clear: both;
	text-align: justify;
}

#dj-classifieds .dj-item .description h2 {
    background: url("../images/info_small.png") no-repeat 0 1px;
    border-bottom: 1px solid #ddd;
    color: #000000;
    font-size: 1em;
    font-weight: bold;
    line-height: 20px;
    margin: 0 0 10px;
    padding: 0 0 10px 30px;
}

#dj-classifieds .dj-item  .custom_det {
	float: left;
    width: 46.9%;
	margin-right: 3%;
}

#dj-classifieds .dj-item .custom_det h2 {
    background: url("../images/list_small.png") no-repeat;
    border-bottom: 1px solid #dddddd;
    font-size: 1em;
    font-weight: bold;
    line-height: 20px;
    margin: 0 0 10px;
    padding: 0 0 10px 30px;
}

#dj-classifieds .dj-item .custom_det .row {
    margin: 0 0 10px;
}

#dj-classifieds .dj-item .custom_det span.row_label {
	display: block;
	margin-bottom: 5px;
}

#dj-classifieds .dj-item .localization_det {
    float: right;
    width: 46.9%;
	margin-left: 3%;
}

#dj-classifieds .dj-item .localization_det h2 {
    background: url("../images/flag_small.png") no-repeat;
    border-bottom: 1px solid #dddddd;
    font-size: 1em;
    font-weight: bold;
    line-height: 20px;
    margin: 0 0 10px;
    padding: 0 0 10px 30px;
}

#dj-classifieds .dj-item .localization_det #google_map_box #map {
	max-width: 100%;
}

#dj-classifieds .dj-item .localization_det #google_map_box img{
	max-width:none;
}

#dj-classifieds .dj-item .localization_det #google_map_box #map img,
#djmod_map_box #djmod_map img {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    max-width: none;
}

#dj-classifieds .dj-item .localization_det form.gm_drive_dir {
	margin-top: 10px;
}

#dj-classifieds .dj-item .localization_det form.gm_drive_dir label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}
#dj-classifieds .dj-item .localization_det form.gm_drive_dir .button{
	float:none;
}
#dj-classifieds .dj-item .localization_det .geo_coordinates,
#dj-classifieds .dj-item .localization_det .map_info{
	margin-top: 10px;
	color:#6E6F71;
}
#dj-classifieds .dj-item .localization_det .geo_coordinates span{
	white-space: nowrap;
	margin-left: 2px;
}
#dj-classifieds .dj-item .additional {
	clear: both;
}

#dj-classifieds .dj-item .additional h2 {
    background: url("../images/list_small.png") no-repeat;
    border-bottom: 1px solid #dddddd;
    font-size: 1em;
    font-weight: bold;
    line-height: 20px;
    margin: 0 0 10px;
    padding: 0 0 10px 30px;
}

#dj-classifieds .dj-item .additional .row {
    margin: 0 0 10px;
}

#dj-classifieds .dj-item .video_box h2 {
    background: url("../images/video_icon.png") no-repeat;
    border-bottom: 1px solid #ddd;
    color: #000000;
    font-size: 1em;
    font-weight: bold;
    line-height: 20px;
    margin: 0 0 10px;
    padding: 0 0 10px 30px;
}

#dj-classifieds .dj-item .video_box {
    float: left;
    width: 100%;
}

#dj-classifieds .dj-item .video_box .row{
	text-align: center;
	margin-bottom: 0px;
}

#dj-classifieds .dj-item .djcf_comments h2 {
    background: url("../images/comments_small.png") no-repeat;
    border-bottom: 1px solid #ddd;
    color: #000000;
    font-size: 1em;
    font-weight: bold;
    line-height: 20px;
    margin: 0 0 10px;
    padding: 0 0 10px 30px;
}

#dj-classifieds .dj-item .djcf_comments {
    float: left;
    width: 100%;
    margin-top: 20px;
}

/* location */

#dj-classifieds .gm_drive_dir input.button {
    height: 33px;
}

#jm-allpage #dj-classifieds .gm_drive_dir {
    margin: 0;
}

#jm-allpage #dj-classifieds .dj-item .gm_drive_dir_l {
    padding-top: 5px;
    display: inline-block;
}

#jm-allpage #dj-classifieds .dj-item .gm_drive_dir_l:hover {
    cursor: pointer;
}

#dj-classifieds .dj-item .localization_det .gm_drive_dir_l span {
    background: url("../images/show_on_map.png") no-repeat scroll center top;
    display: inline-block;
    height: 37px;
    margin-left: 5px;
    vertical-align: middle;
    width: 54px;
    cursor: auto;
}

/* Video wrapper responsive */

#dj-classifieds .videoWrapper {
    margin: 0 auto;
    max-width: 600px; /* video width */
}

#dj-classifieds .videoWrapper-in {
    position: relative;
    padding-bottom: 56.25%; /* ratio 16:9 */
    height: 0;
    overflow: hidden;
}
#dj-classifieds .videoWrapper-in iframe,
#dj-classifieds .videoWrapper-in object,
#dj-classifieds .videoWrapper-in embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}  

/* pagebreak */

#dj-classifieds .dj-item-in .intro_desc_content + .djcf_tabs {
    margin: 20px 0 0;
}

#dj-classifieds .nav-tabs .nav-toggler {
    cursor: pointer;
}

#dj-classifieds .nav-tabs .nav-toggler.active {
    cursor: auto;
}

/********** search **********/

#dj-classifieds .search_res_details {
    padding: 10px 0 0;
}

/********** favourite ads **********/

#dj-classifieds  h1.main_cat_title {
    font-weight: normal;
    padding: 7px 20px;
    line-height: 1.5em;
    border-bottom: 1px solid #D5D5D5;
    text-transform: uppercase;
    text-align: center;    
}

/********** payment **********/

#dj-classifieds table.paymentdetails,
#dj-classifieds table.paymentdetails table {
    border-collapse: collapse;
}

#dj-classifieds table.paymentdetails {
	width: 100% !important;
	border: none;
}

#dj-classifieds table.paymentdetails.first {
	margin-bottom: 20px;
}

#dj-classifieds table.paymentdetails .payment_td {
	border: 1px solid #EAEAEA;
}

#dj-classifieds table.paymentdetails td.td_pdetails {
	padding: 20px 0 0;
}

#dj-classifieds table.paymentdetails td.td_pdetails div.pd_row {
	padding: 10px 0 0;
	margin-top: 10px;
	border-top: 1px solid #EAEAEA;
	display: inline-block;
	width: 100%;
}

#dj-classifieds table.paymentdetails td.td_pdetails div.pd_row:first-child {
	padding: 0;
	margin: 0;
	border: none;
}

#dj-classifieds table.paymentdetails td.td_pdetails div.pd_row_total {
	background: #f7f7f7;
	padding: 10px 20px;
	margin-top: 20px;
	font-weight: bold;
}

#dj-classifieds table.paymentdetails td.td_pdetails div.pd_row_total span {
	text-transform: uppercase;
	float: none;
	padding: 0;
}

#dj-classifieds table.paymentdetails td.td_pdetails div span {
	float: left;
	padding: 0 20px;
}

#dj-classifieds table.paymentdetails td.td_pdetails div span.price {
	float: right;
}

#dj-classifieds table.paymentdetails td.td_title {
    padding: 7px 20px;
    line-height: 1.5em;
    border-bottom: 1px solid #D5D5D5;
    padding: 10px;
    background: none;
}

#dj-classifieds .pointspackages table.paymentdetails td.td_title {
    padding: 7px 20px;
}

#dj-classifieds table.paymentdetails td.td_title h2 {
    color: #000000;
    text-align: center;
	padding: 0;
	font-size: 1em;
	margin: 0;
	text-transform: uppercase;
}

#dj-classifieds table.paymentdetails td.td_pdetails div.pd_row .djcfpay_label {
	font-weight: bold;
}

#dj-classifieds table.paymentdetails .table_payment {
	padding: 20px 0;
}

#dj-classifieds table.paymentdetails td.table_payment table {
	border: none;
}

#dj-classifieds table.paymentdetails td.table_payment table td {
	vertical-align: middle;
}

#dj-classifieds table.paymentdetails td.table_payment table td.td1 img,
#dj-classifieds table.paymentdetails td.table_payment table td.td3 img {
	vertical-align: middle;
}

#dj-classifieds table.paymentdetails td.table_payment table td.td2 {
	background: #F7F7F7;
    border-left: 1px solid #EAEAEA;
    border-right: 1px solid #EAEAEA;
    padding: 20px;
	vertical-align: top;
}

#dj-classifieds table.paymentdetails td.table_payment table td.td2 table {
	margin-top: 10px;
}

#dj-classifieds table.paymentdetails td.table_payment table td.td2 table select,
#dj-classifieds table.paymentdetails td.table_payment table td.td2 table input {
	margin: 5px;
}

#dj-classifieds table.paymentdetails td.table_payment table div.email_box span {
	margin: 10px 0 5px;
	display: block;
}

#dj-classifieds table.paymentdetails td.table_payment table div.email_box input.validate-email {
	width: 200px;
}

/********** user points ***********/

#dj-classifieds .userpoints .points_available{
	text-align:right;
	font-size:1.2em;
	padding-right: 5px;
	margin: 10px 0 0;
}

#dj-classifieds .userpoints .points_available span{
	font-weight:bold;
	font-size:1.3em;
}

/* User Profile */

#dj-classifieds .profile_outer h2.profile_name {
    border-bottom: 1px solid #D5D5D5;
    color: #000000;
    font-weight: normal;
    line-height: 1.5em;
    padding: 7px 20px;
    text-align: center;
    text-transform: uppercase;
}

#dj-classifieds .profile_outer .profile_box {
    display: table;
    width: 100%;
}
#dj-classifieds .profile_outer .profile_img{
    display: table-cell;
    vertical-align: top;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#dj-classifieds .profile_outer .profile_name_data{
    display: table-cell;
    vertical-align: top;
}

#dj-classifieds .profile_outer .profile_name_data .profile_data {
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
}

#dj-classifieds .profile_outer .profile_row {
    clear: both;
}

#dj-classifieds .profile_outer .profile_row_label {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: inline-block;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    text-align: right;
    width: 25%;
    vertical-align: middle;
}

#dj-classifieds .profile_outer .profile_row_value {
    display: inline-block;
    width: 74%;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    vertical-align: middle;
}

#dj-classifieds .profile_item_box .profile_img{
    display: inline-block;
    padding-right:10px;
    vertical-align: top;
}

#dj-classifieds .dj-item .general_det .profile_item_box .profile_img {
    display: block;
    padding: 0 0 5px;
}

#dj-classifieds .profile_item_box .profile_name_data{
    display: inline-block;  
}

#dj-classifieds .profile_item_box .profile_row{
    margin:0 0 10px;
}

#dj-classifieds .profile_item_box .profile_row .profile_row_label{
    display:block;
}

/* profile editing */

#dj-classifieds .dj-additem .djform_field .radiofield_box,
#dj-classifieds .dj-additem .djform_field .radiofield_box div {
    float: none !important;
}

/********** points packages ********/

#dj-classifieds .pointspackages .pp_price{
	font-weight:bold;
	font-size:1.1em;
	margin-bottom:10px;
}
#dj-classifieds .pointspackages table.paymentdetails td.table_payment table td.td2{
	border-left:none;
}
#dj-classifieds .pointspackages h3{
	font-size:1.3em;
	margin:0 0 10px 0;
	text-transform: uppercase;
}

/********** module items **********/

.mod_djclassifieds_items .items {
    display: inline-block;
    margin-left: -20px;
}

.mod_djclassifieds_items .item {
	display: inline-block;
	width:100%;
	border-top: 1px dashed #DDDDDD;
    padding: 10px 0 0;
    margin: 10px 0 0;
}

.mod_djclassifieds_items .item:first-child {
    border: none;
    margin: 0;
    padding: 0;
}

.mod_djclassifieds_items .items-col {
	float: left;
}

.mod_djclassifieds_items .items-col .icol-in {
	padding: 0 0 0 20px;
}

.mod_djclassifieds_items .items-cols1 .items-col {width: 100%;}
.mod_djclassifieds_items .items-cols2 .items-col {width: 49.9%;}
.mod_djclassifieds_items .items-cols3 .items-col {width: 33.3%;}
.mod_djclassifieds_items .items-cols4 .items-col {width: 24.9%;}
.mod_djclassifieds_items .items-cols5 .items-col {width: 19.9%;}
.mod_djclassifieds_items .items-cols6 .items-col {width: 16.6%;}
.mod_djclassifieds_items .items-cols7 .items-col {width: 14.2%;}
.mod_djclassifieds_items .items-cols8 .items-col {width: 12.4%;}
.mod_djclassifieds_items .items-cols9 .items-col {width: 11.1%;}
.mod_djclassifieds_items .items-cols10 .items-col {width: 9.9%;}

.mod_djclassifieds_items div.title {
	float: left;
    width: 100%;
	padding-bottom: 7px;
}

.mod_djclassifieds_items div.title a.title {
	color: #000000;
    font-size: 1.3em;
    font-weight: normal;
    text-transform: uppercase;
}

.mod_djclassifieds_items .date_cat {
	color: #999;
}

.mod_djclassifieds_items div.title a.title {
	padding-bottom: 6px;
	display: block;
	font-size: 1.1em;
}

.mod_djclassifieds_items div.title span.date,
.mod_djclassifieds_items div.title span.category,
.mod_djclassifieds_items div.title span.type, 
.mod_djclassifieds_items div.title span.price {
	padding-bottom: 3px;
	display: block;
}

.mod_djclassifieds_items div.title span.price {
	font-weight: bold;
	overflow: hidden;
    text-overflow:ellipsis;
}

.mod_djclassifieds_items .date_cat span.region,
.mod_djclassifieds_items .date_cat span.price {
    color: #000000;
}

.mod_djclassifieds_items .title img {
    float: left;
	background: #ffffff;
    vertical-align: top;
    border: 1px solid #dddddd;
    margin-bottom: 5px;
    padding: 4px;
    margin-right: 8px!important;
}

.mod_djclassifieds_items .desc {
    float: left;
    width: 100%;
    overflow: hidden;
    text-overflow:ellipsis;
}

/* module items slider */

.mod_djclassifieds_items.mod_djcf_slider{
    position:relative;
}
.mod_djclassifieds_items.mod_djcf_slider .items-outer{
    overflow:hidden;
    padding:0 40px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.mod_djclassifieds_items.mod_djcf_slider .items{
    overflow:hidden;
    margin:10px 0 0 0px;
}
.mod_djclassifieds_items.mod_djcf_slider .items-content{
    opacity:0;      
}

.mod_djcf_slider .items-cols1 .item-box {width: 100%;}
.mod_djcf_slider .items-cols2 .item-box {width: 49.9%;}
.mod_djcf_slider .items-cols3 .item-box {width: 33.3%;}
.mod_djcf_slider .items-cols4 .item-box {width: 24.9%;}
.mod_djcf_slider .items-cols5 .item-box {width: 19.9%;}
.mod_djcf_slider .items-cols6 .item-box {width: 16.6%;}
.mod_djcf_slider .items-cols7 .item-box {width: 14.2%;}
.mod_djcf_slider .items-cols8 .item-box {width: 12.4%;}
.mod_djcf_slider .items-cols9 .item-box {width: 11.1%;}
.mod_djcf_slider .items-cols10 .item-box {width: 9.9%;}

.mod_djcf_slider .items-content .item-box{
    float:left;
}
.mod_djcf_slider .items-content .item-box .item{
    border:none;
    margin:0px;
    padding:0px;
}
.mod_djcf_slider .items-content .item-box .item-box-in{
    padding:0 5px 5px;
}
.mod_djcf_slider .djcf_slider_left,
.mod_djcf_slider .djcf_slider_right{
    width:30px;
    height:30px;
    left:5px;
    top:50px;
    cursor:pointer;
    position:absolute;
    text-align:center;
    display:none;
    background:#75796F url('../images/slider_arrow_left.png') center 8px no-repeat;
    border-radius: 3px;
    color:#fff;
    font-weight:bold;
}
.mod_djcf_slider .djcf_slider_right{
    background:#75796F url('../images/slider_arrow_right.png') center 8px no-repeat;
    left:auto;
    right:5px;
}
.mod_djcf_slider .djcf_slider_right.blocked{
    background:#CCCCCC url('../images/slider_arrow_right.png') center 8px no-repeat;
}
.mod_djcf_slider .djcf_slider_left.blocked{
    background:#CCCCCC url('../images/slider_arrow_left.png') center 8px no-repeat;
}
.mod_djcf_slider .djcf_slider_loader{   
    position:absolute;
    width:100%;
    height:31px;
    top:50px;
    left:0px;
}
.mod_djcf_slider .djcf_slider_loader_img{
    width:31px;
    height:31px;
    margin:0 auto;
    background:url('../images/slider_loader.gif') top left no-repeat;
}

/********** module menu **********/

.djcf_menu .newad_link_bottom {
    margin-top: 10px;
}

/********** module search **********/

.dj_cf_search input,
.dj_cf_search select {
    max-width: 400px;
}

.dj_cf_search input[type="text"],
.dj_cf_search select,
.payment_td input,
.payment_td select {
    margin: 0 0 10px;
	font-size: 85%;
}

.dj_cf_search input[type="text"] {
    width: 100% !important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    min-height: 33px;    
}

.dj_cf_search .search_radius input {
    display: block;
}

.dj_cf_search form {
    width: 100%;
    margin: 0;
}

.dj_cf_search select {
    width: 100% !important;
}

.dj_cf_search #search_ex_fields,
.dj_cf_search .search_price {
	margin: 0 0 10px;
}

.dj_cf_search #search_ex_fields select {
    height: auto !important;
    min-width: 65px;
    width: auto !important;
}

#search_ex_fields input.inputbox[type="radio"] {
    width: auto !important;
}

.dj_cf_search #search_ex_fields:empty {
    display: none!important;
}

.dj_cf_search input[type="radio"], 
.dj_cf_search input[type="checkbox"] {
    margin: 0;
    vertical-align: middle;
}

.dj_cf_search .search_price span.label1,
.dj_cf_search span.from_class {
    margin-right: 5px;
}

.dj_cf_search .search_price span.label2,
.dj_cf_search span.to_class {
    margin: 0 5px;
}

.dj_cf_search .djseform_field .radiofield_box {
    display: inline-block;
    width: 100%;
}

.dj_cf_search .djseform_field .radiofield_box span.radio_label {
    vertical-align: middle;
    margin-left: 5px;
}

.dj_cf_search .se_checkbox div {
    float: none!important;
}

.dj_cf_search .se_checkbox div .radio_label {
    margin: 0 0 0 7px;
}

.dj_cf_search label, 
.dj_cf_search span.label {
    display: block;
    margin: 0;
    font-weight: bold;
    background: none;
    vertical-align: middle;
    padding: 0 0 10px;
    font-size: 12px;
}

.dj_cf_search .djseform_field {
	margin: 10px 0;
}

.dj_cf_search .search_price .label2 {
    margin: 0;
}

.dj_cf_search .search_price input.inputbox,
.dj_cf_search span.from_class + input.inputbox,
.dj_cf_search span.to_class + input.inputbox {
    width: 53px !important;
}

.dj_cf_search .to_class {
    margin: 0 0 0 5px;
}
.dj_cf_search .djse_type_date .to_class {
	margin: 0 5px 0 0;
}
.dj_cf_search .from_class {
    margin: 0 5px 0 0;	
}

.dj_cf_search .to_class.new {
    margin: 0 5px;
}
.dj_cf_search .search_only_video,
.dj_cf_search .search_only_images {
	margin-bottom: 10px;
}

.dj_cf_search .search_only_video .label,
.dj_cf_search .search_only_images .label{
    display: inline-block;
    padding: 0 5px;
}

.dj_cf_search a.reset_button {
    margin: 7px 0 0 15px;
    display: inline-block
}

/********** module users points **********/

.djcf_user_points .djcf_upoints_box {
	margin: 5px 0 0px;
	padding: 10px 0;
	border-bottom: 1px dashed #ddd;
	color:#000;
}
.djcf_user_points .djcf_upoints_box .djcf_upoints{
	font-size: 1.2em;
	margin-left: 10px;
}

/**************** module map ************/

.djmod_map img{
	max-width: none;
}

/********** tool tip **********/

.djcf_label,
.djcf{
	z-index: 1000;
}
.djcf .tip{
    background: url(../images/tootlip_bg.png) repeat;
    border: none;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    max-width: 598px;
    min-width: 300px;
    padding: 6px;
} 

.djcf .tip-title {
    background: #FFFFFF;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    color: #333333;
    font-weight: bold;
    margin: 0 !important;
    padding: 15px 15px 10px;
	font-size: 1.2em;
}

.djcf .tip-text {	
    background: #FFFFFF;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    color: #000000;
    font-size: 0.9em;
    padding: 0px 15px 15px;
}
.djcf .tip-text .tp_desc{
	border-top: 1px solid #EAEAEA;
	padding: 7px 0 15px;
}
.djcf .tip-text .tp_contact,
.djcf .tip-text .tp_price,
.djcf .tip-text .row_location{
	padding: 0 0 15px;
}
.djcf .tip-text .row_location,
.djcf .tip-text .row_contact{
	width: 35%;
	float: left;
	margin-right: 5%;	
}
.djcf .tip-text .row_price{
	width: 20%;
	float: left;
		
}
.tip-text .images_box img {
	margin-right: 5px;
	border: 1px solid #EAEAEA;
	background: #ffffff;
	padding: 1px;
}

.tip-text .row_title,
.tip-text .title {
    border-bottom: 1px solid #EAEAEA;
    color: #577BA8;
    font-weight: bold;
    margin: 0 0 5px;
    padding: 0 0 5px;
}

.djcf_prom .tip{
	background: transparent;
	border: none;
}

.djcf_label .tip{
    background: url(../images/tootlip_bg.png) repeat;
    border: none;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    max-width: 398px;
    padding: 6px;
} 

.djcf_label .tip-title {
    background: #FFFFFF;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    color: #333333;
    font-weight: normal;
    margin: 0 !important;
    padding: 10px;
    width: 266px !important;
	font-size: 1.2em;
}

.djcf_label .tip-text {	
    background: #FFFFFF;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    color: #000000;
    display: inline-block;
    font-size: 0.9em;
    padding: 0 10px 10px;
    width: 266px !important;
    display:none;
}

img.callendar{
	cursor: pointer;
}

#dj-classifieds .dj-item_button{
	margin-left: 5px;
}

#lbPrevLink, #lbNextLink{
	background: none; 
}

/********** module search horizontal **********/

.dj_cf_search.dj_cf_search_horizontal input.inputbox.first_input {
    margin-right: 2%;
} 

.dj_cf_search.dj_cf_search_horizontal .search_ex_fields .djseform_field:nth-of-type(3n+1) {
    clear: both;
    margin-left: 0;
}

.dj_cf_search.dj_cf_search_horizontal .search_regions div select {
    margin-left: 2%;
} 

.dj_cf_search.dj_cf_search_horizontal .search_radius input,
.dj_cf_search.dj_cf_search_horizontal .search_radius select,
.dj_cf_search.dj_cf_search_horizontal input.inputbox.first_input, 
.dj_cf_search.dj_cf_search_horizontal .search_regions select,
.dj_cf_search.dj_cf_search_horizontal .search_cats select,
.dj_cf_search.dj_cf_search_horizontal .search_type select,
.dj_cf_search.dj_cf_search_horizontal .search_time select,
.dj_cf_search.dj_cf_search_horizontal .djseform_field {
    float: left;
    width: 32% !important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
}

.dj_cf_search.dj_cf_search_horizontal .search_radius input,
.dj_cf_search.dj_cf_search_horizontal .search_time select,
.dj_cf_search.dj_cf_search_horizontal .search_type select{
    margin-right: 2%;
}
  
.dj_cf_search.dj_cf_search_horizontal .search_cats div select,
.dj_cf_search.dj_cf_search_horizontal .djseform_field {
    margin-left: 2%;
}

.dj_cf_search.dj_cf_search_horizontal .search_regions,
.dj_cf_search.dj_cf_search_horizontal #search_ex_fields,
.dj_cf_search.dj_cf_search_horizontal .search_cats  {
    clear: both;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.dj_cf_search.dj_cf_search_horizontal .search_price {
    clear: both;
    width: 32%;
}

.dj_cf_search.dj_cf_search_horizontal .se_checkbox,
.dj_cf_search.dj_cf_search_horizontal .search_only_video,
.dj_cf_search.dj_cf_search_horizontal .search_only_images,
.dj_cf_search.dj_cf_search_horizontal button {  
    clear: both;
}
